.reviewCard {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.25rem 1.75rem;
    border-radius: 20px;
    width: 30%;
}

.description {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(228, 228, 228);
    line-height: 1.3;
}

.clientInfoContainer {
    display: flex;
    gap: 1rem;
}

.clientImageContainer {}

.clientImageContainer>img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}


.clientDetails>span {
    color: gray;
    font-size: 14px;
    line-height: 1;
}



/* Responsive Code */


@media only screen and (max-width: 700px) {
    .reviewCard {
        width: 90%;
    }
}