/* Parent Nav Bar */
.parent {
    height: 80px;
    width: 100%;
    color: black;
    position: fixed;
    background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

/* Logo Styling */
.Logo {
    max-width: fit-content;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 30px;
    line-height: 60px;
}
.Logo > img {
    width: 40px;
}

/* Nav Links */
.navUl {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    transition: all 0.5s;
}

.navLi {
    line-height: 35px;
    margin: 0 5px;
    box-sizing: border-box;
}

.navLi > a {
    color: black;
    border-radius: 6px;
    font-size: 18px;
    padding: 7px 13px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.navLi > a:hover {
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
}


.bookContainer {
    border: 1px solid #448ffe;
    border-radius: 1px;
    padding: 5px 20px;
    background: linear-gradient(180deg, #448ffe 0, #1f7bff 100%);
    position: relative;
    overflow: hidden;
    color: white;
    border-radius: 10px;
    max-height: max-content;
    transition: all linear 0.5s;
  }
  .bookContainer:hover{
    cursor: pointer;
    transform: scale(0.95);
    border: 1px solid #1f7bff;
  }
  
  .bookContainer::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, .8),
        rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    animation: shine 3s infinite linear;
  }

  @keyframes shine {
    0% {
      left: -100px;
    }
  
    20% {
      left: 100%;
    }
  
    100% {
      left: 100%;
    }
  }

/* Hamburger Icon */
.checkbtn {
    color: black;
    font-size: 30px;
    cursor: pointer;
    display: none; /* Hidden by default on desktop */
}

/* Checkbox to toggle menu visibility */
.check {
    display: none;
}

/* Responsive Adjustments */
@media (max-width: 952px) {
    .Logo {
        font-size: 30px;
    }
    .navLi > a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .parent {
        height: 60px;
        padding: 0 15px;
      flex-direction: row-reverse;
    }

    /* Display the check button on small screens */
    .checkbtn {
        display: block;
    }

    /* Full-screen nav for small screens */
    .navUl {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: #fff;
        height: calc(100vh - 60px);
        top: 60px;
        left: -100%;
        text-align: center;
    }

    .navLi > a {
        font-size: 20px;
    }

    /* Toggle nav visibility with checkbox */
    .check:checked ~ .navUl {
        left: 0;
        transition: all 0.6s ease;
    }

    .check:not(:checked) ~ .navUl {
        left: -100%;
        transition: all 0.6s ease;
    }
    .Logo{
        gap: 8px;
        font-size: 25px;
    }
    .Logo > img{
        width: 28px;
    }
}
