.featureCard {
  color: white;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.lottieIcon {
  width: 35px;
  margin-bottom: 0.6rem;
}

.featureCard>h5 {
  display: inline-block; /* Ensures we can manipulate word breaking */
  white-space: pre-line; /* Allows text to break on spaces */
  word-break: break-word; /* Ensures words will break if they exceed the container's width */
  font-size: calc(1rem + .3vw);
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0.25rem;
}

.featureCard>p {
  font-size: 14px;
  color: gray;
}



@media (max-width: 500px) {
  .featureCard {
    width: 100%;
  }

  .featureCard>h5 {
    font-size: 20px;
  }

  .featureCard>p {
    font-size: 14px;
    color: gray;

  }
}