.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #000e23;
}

.backgroundWrapper {
  position: relative;
  width: 100%;
  height: 600px; /* Adjust based on your design needs */
  border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
  overflow: hidden;
}

.Banner {
  position: absolute;
  top: 35%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center both horizontally and vertically */
  background: transparent;
  height: 600px;
  width: 100%;
  display: flex;
  gap: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  z-index: 2;
}

.bannerTextOne {
  font-size: 30px;
  color: rgb(71, 71, 0);
}

.bannerTextTwo {
  width: 60%;
  text-align: center;
  font-size: 60px;
}

.bannerTextThree {
  font-size: 25px;
}

.bookContainer {
  border: none;
  border-radius: 1px;
  padding: 5px 20px;
  background: #031927;
  position: relative;
  overflow: hidden;
  color: white;
  border-radius: 10px;
}

.bookContainer::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, .8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% { left: -100px; }
  20% { left: 100%; }
  100% { left: 100%; }
}

.marqueeContainer {
  width: 100%;
  position: absolute;
 
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center both horizontally and vertically */
  background: transparent;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #f7f7f7;
}

.marqueeOne {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000e23;
  color: white;
  height: 50px;
  padding: 10px 10px;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

.marqueeTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000e23;
  color: white;
  height: 50px;
  padding: 10px 10px;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.serviceHeading {
  font-size: 45px;
  width: 60%;
  text-align: center;
  margin: 40px 0;
}

.servicesContainer {
  margin-top: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #f7f7f8;
  padding: 20px 30px;
  border-radius: 45px;
}



.featuresContainer{
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 25px 35px;
}


.projectParentContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f8;
  gap: 12px;
  border-radius: 30px;
}
.projectContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f8;
  gap: 16px;
  row-gap: 30px;
  border-radius: 30px;
  padding: 10px;
}
.projectHead{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 6px;
  padding: 16px 20px;
}
.projectHead > h4{
  font-size: 50px;
}






@media (max-width: 500px) {
  .backgroundWrapper{
    height: 400px;
  }
  .Banner {
    top: 32%;
    height: 300px;
    gap: 10px;
  }
  .bannerTextOne {
    font-size: 20px;
  }
  .bannerTextTwo {
    width: 90%;
    text-align: center;
    font-size: 28px;
  }
  .bannerTextThree {
    font-size: 15px;
    text-align: center;
  }
  .serviceHeading {
    font-size: 25px;
    width: 90%;
    text-align: center;
    margin: 40px 0;
  }
  .servicesContainer {
    width: 100%;
    padding: 10px 15px;
  }
  .marqueeContainer{
    top: 59%;
  }
  .projectContainer{
    flex-direction: column;
  }
  .projectHead > h4{
    font-size: 34px;
  }

}
